body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.jsondiffpatch-delta {
  font-family: Helvetica;
  font-size: 13px;
  margin: 0;
  padding: 0 0 0 12px;
  display: inline-block;
}

.jsondiffpatch pre {
    font-family: Helvetica;
    font-size: 13px;
    color:blueviolet;
}